<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VehiculoController</servlet-name>
        <servlet-class>controller.VehiculoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IngresaVentaController</servlet-name>
        <servlet-class>controller.IngresaVentaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearClienteController</servlet-name>
        <servlet-class>controller.CrearClienteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscarClienteController</servlet-name>
        <servlet-class>controller.BuscarClienteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultaVentaController</servlet-name>
        <servlet-class>controller.ConsultaVentaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmaVentaController</servlet-name>
        <servlet-class>controller.ConfirmaVentaController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VehiculoController</servlet-name>
        <url-pattern>/VehiculoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IngresaVentaController</servlet-name>
        <url-pattern>/IngresaVentaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearClienteController</servlet-name>
        <url-pattern>/CrearClienteController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscarClienteController</servlet-name>
        <url-pattern>/BuscarClienteController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultaVentaController</servlet-name>
        <url-pattern>/ConsultaVentaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmaVentaController</servlet-name>
        <url-pattern>/ConfirmaVentaController</url-pattern>
    </servlet-mapping>

<session-config>
    <session-timeout>
        30
    </session-timeout>
</session-config>
</web-app>
